{% extends 'base.html.twig' %}
{% block title %}game{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href=" {{ asset('css/game.css') }} " rel="stylesheet" />
{% endblock %}
{%  block body %}
    {{ parent() }}
    <div id="gamePanel">
        <p>user_id1: {{ userId1 }}</p>
        <p>user_id2: {{ userId2 ? userId2 : 'waiting' }}</p>
        {{ form(leaveForm) }}

        {%  if turnForm %}
            {{ form(turnForm) }}
        {% else %}
            <p>Not your turn</p>
        {% endif %}
        <div id="gamePhaseForm">
        </div>
       {# {% if notActivatedShip %}
            {{ include('shipDump.html.twig', {'ship': notActivatedShip}) }}
        {% else %}
            <p>'There are not free ship'</p>
        {% endif %}#}
        {%  block flash %}
            {{ parent() }}
        {% endblock %}
        <h3 id="phase-name"></h3>
        <div id="form-container">
            <div id="phase{{ constant('\\App\\Entity\\Ship::ORDER_PHASE') }}" style="display: none">
                {{ form(orderPhase) }}
            </div>
            <div id="phase{{ constant('\\App\\Entity\\Ship::MOVEMENT_PHASE') }}" style="display: none">
                {{ form(movePhase) }}
            </div>
            <div id="phase{{ constant('\\App\\Entity\\Ship::SHOOT_PHASE') }}" style="display: none">
                {{ form(shootPhase) }}
            </div>
        </div>
    </div>
    <div id="canvas-parent"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ include('gameScript.html.twig') }}
{% endblock %}