{% extends 'base.html.twig' %}
{% block title %}game{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href=" {{ asset('css/game.css') }} " rel="stylesheet" />
{% endblock %}
{%  block body %}
    {{ parent() }}
    <div id="gamePanel">
        <p>user_id1: {{ userId1 }}</p>
        <p>user_id2: {{ userId2 ? userId2 : 'waiting' }}</p>
        {{ form(leaveForm) }}

        {%  if turnForm %}
            {{ form(turnForm) }}
        {% else %}
            <p>Not your turn</p>
        {% endif %}
        {% if notActivatedShip %}
            {{ include('shipDump.html.twig', {'ship': notActivatedShip}) }}
        {% else %}
            <p>'There are not free ship'</p>
        {% endif %}
        {%  if phaseForm %}
            <h3>{{  phaseName }} phase</h3>
            {{ form(phaseForm) }}
        {% endif %}
    </div>
    <canvas id="cnv" width="{{ width }}" height="{{ height }}"></canvas>
    <div id="jsInfo"
         data-game-field-width="{{ gameFieldWidth }}"
         data-game-field-height="{{ gameFieldHeight }}"
         data-game-field-height="{{ gameFieldHeight }}"
    ></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if ships %}
        {{ include('gameScript.html.twig', {'ships': ships}) }}
    {% endif %}
{% endblock %}