<div id="ship">
    <img src="{{ asset(ship.getImg()) }}">
    <h3>{{ ship.name }}</h3>
    <p>power points: {{ ship.PP }}</p>
    <p>speed: {{ ship.speed }}</p>
    <p>hull points: {{ ship.hullPoints }}</p>
    <p>x: {{ ship.x }}, y: {{ ship.y }}</p>
    <p>dirX: {{ ship.dirX }}, dirY: {{ ship.dirY }}</p>
    <p>width: {{ ship.width }}</p>
    <p>height: {{ ship.height }}</p>
    <p>handling: {{ ship.handling }}</p>
    <p>can turn: {{ ship.canTurn ? 'yes' : 'no' }}</p>
    <p>stationery: {{ ship.isStationery ? 'yes' : 'no' }}</p>
</div>